/* COLORS */
$orange: #f23827;
$orange-grey: #a64f47;
$red: #a60303;
$yellow: #dbc337;
$grey: #eee;
$dark-grey: #2f2e41;
$blue-grey: #1a1d33;

/* SHADOWS */
$shadow-sm: 0 2px 2px 0 rgba(0, 0, 0, 14%),
    0 3px 1px -2px rgba(0, 0, 0, 12%), 
    0 1px 5px 0 rgba(0, 0, 0, 20%);
$shadow-md: 0 4px 5px 0 rgba(0, 0, 0,  14%),
    0 1px 10px 0 rgba(0, 0, 0,  12%),
    0 2px 4px -1px rgba(0, 0, 0,  30%);
$shadow-lg: 0 8px 17px 2px rgba(0, 0, 0, 14%),
    0 3px 14px 2px rgba(0, 0, 0, 12%),
    0 5px 5px -3px rgba(0, 0, 0, 20%);
$shadow-xl: 0 16px 24px 2px rgba(0, 0, 0, 14%),
    0 6px 30px 5px rgba(0, 0, 0, 12%),
    0 8px 10px -7px rgba(0, 0, 0, 20%);