@import "bootstrap/scss/bootstrap-grid.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import "variables";

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px){ 
    .sm-align-center {
        text-align: center !important;
    }

    .mt-sm-7 {
        margin-top: 7rem !important;
    }
}