@import "../../assets/scss/variables";

.header {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: -2;

    &__image {
        position: relative;
        width: 100%;
        height: auto;
    }

    &__title {
        font-weight: bolder;
        font-size: 2.5rem;
        background: linear-gradient(135deg, $red, $orange);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__subtitle {
        font-weight: 300;
        color: darken($color: $orange-grey, $amount: 30%);
        padding: 1rem;
    }

    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30vw;
        z-index: -1;
    }
}