@import "../../assets/scss/variables";

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 1rem;

    &__content {
        display: flex;
        align-items: center;
    }

    &__image {
        position: relative;
        width: 100%;
        height: auto;
    }

    &__title {
        font-weight: 1000;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: transparent;
        background-image: linear-gradient(145deg, $red, lighten($orange, 5%));
        background-size: 400%;
        -webkit-background-clip: text;
        background-clip: text;
        animation: moving-title-gradient 20s infinite alternate;
    }

    &__subtitle {
        font-weight: 300;
        color: darken($color: $orange-grey, $amount: 30%);
        padding: 1rem;
    }

    &__children {
        position: relative;
        width: 100%;
        text-align: center;
    }
}

@keyframes moving-title-gradient {
	0% {
		background-position: left
	}

	100% {
		background-position: right;
	}
}