@import "../../assets/scss/variables";

/* Timeline-specific variables */
$circle-size: 4rem;
$ruler-width: 4px;
$light-orange: #e9c5c5;
$timeline-item-spacer: 8rem;

/* Timeline container */
.timeline {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: $timeline-item-spacer;

    /* Vertical ruler */
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: .1rem;
        left: 50%;
        transform: translateX(-50%);
        width: $ruler-width;
        height: 100%;
        background-color: $light-orange;
    }

    .timeline-item {
        width: 100%;
        position: relative;
        margin-bottom: $timeline-item-spacer;

        /* Circle demarking a timeline item */
        .timeline-item__circle {
            text-align: center;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: $circle-size;
            height: $circle-size;
            border: $ruler-width solid $orange;
            border-radius: 50%;
            background-color: white;
            color: transparentize($blue-grey, .1%);
            padding-top: .1rem;

            .day {
                font-size: .9rem;
                font-weight: 400;
            }

            .month {
                font-size: 1.1rem;
                font-weight: 700;
                text-transform: uppercase;
            }

            .year {
                font-size: .7rem;
                font-weight: 300
            }
        }

        /* Circle variant for no text inside */
        .timeline-item__circle--small {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: $circle-size / 2.5;
            height: $circle-size / 2.5;
            border-radius: 50%;
            background-color: $orange;
        }

        &:nth-child(even) {
            .timeline-item__content {
                float: right;
                display: block;

                /* Arrow-like on top of content */
                &::after {
                    left: -.8rem;
                    border-width: .7rem .8rem .7rem 0;
                    border-color: transparent $orange transparent transparent;
                }

                /* TODO(@jeanchilger): find a better way of doing this */
                .card {
                    background-image: linear-gradient(
                        45deg,
                        $orange,
                        $red
                    );
                }
            }
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    /* Timeline content container */
    .timeline-item__content {
        position: relative;
        width: 45%;

        /* Arrow-like on top of content */
        &::after {
            content: "";
            position: absolute;
            top: $circle-size / 2;
            right: -.8rem;
            transform: translateY(-50%);
            border-style: solid;
            width: 0;
            height: 0;
            border-width: .7rem 0 .7rem .8rem;
            border-color: transparent transparent transparent $orange;
        }
    }
}

.timeline-item {
    svg {
        position: absolute;
        top: $circle-size;
        left: 50%;
        transform: translateX(-2px) translateY(-2px);
    }

    .svg-animation--paused {
        animation-play-state: paused;
    }


    &:nth-child(even) {
        svg {
            right: 50%;
            transform: translateX(-100%) translateX(2px) scale(-1, 1);
        }
    }

    .timeline-item__g {
        stroke: $light-orange;
    }
}

// #wire {
//     stroke-dasharray: 500;
//     stroke-dashoffset: 500;
//     animation: line-fill 4s forwards linear;
//     animation-play-state: paused;
// }

#ellipse1 {
    animation: blink-fill .3s .6s forwards ease,
        blink-stroke .3s .6s forwards ease;
    animation-play-state: paused;
    
}

#ellipse2 {
    animation: blink-stroke .5s .6s forwards ease;
    animation-play-state: paused;
}

#ellipse3 {
    animation: blink-fill .7s 1s forwards ease,
        blink-stroke .7s 1s forwards ease;
    animation-play-state: paused;
}

#ellipse4 {
    animation: blink-stroke .6s .9s forwards ease;
    animation-play-state: paused;
}

#ellipse5 {
    animation: blink-stroke .5s .75s forwards ease;
    animation-play-state: paused;
}

@keyframes line-fill {
    100% {
        stroke-dashoffset: 0;
    }

    // 100% {
    //     stroke: url(#fill-left-to-right)
    // }
}

@keyframes blink-fill {
    0% {
        fill: $light-orange;
    }

    25% {
        fill: $orange;

    }

    50% {
        fill: $light-orange;
    }

    75% {
        fill: $orange;
    }

    90% {
        fill: $light-orange;
    }

    100% {
        fill: $orange;
    }
}

@keyframes blink-stroke {
    0% {
        stroke: $light-orange;
    }

    25% {
        stroke: $orange;

    }

    50% {
        stroke: $light-orange;
    }

    75% {
        stroke: $orange;
    }

    90% {
        stroke: $light-orange;
    }

    100% {
        stroke: $orange;
    }
}